.tx-btn{
    width:100px;
    height:30px;
    font-size:15px;
    line-height:30px;
    color: white;
    text-align: center;
    background-color: rgb(87, 111, 216);
    border-radius:5px;
    margin-bottom:20px;
}
.my-crop{
    width:300px;
    height:300px;
    border:1px dashed grey;
    margin: auto;
}
.cropBox{
    height:300px;
    width:300px;
}
.ch-btn{
    width:300px;
    height:40px;
    /* background-color: pink; */
    margin: auto;
    margin-top:20px;
    padding:0 20px;
}
#tx-ok{
    width:100px;
    float: left;
}
#tx-cancel{
    width:100px;
    float: right;
}